# Build and Release Folders
backup/
lib/
META-INF/
data/

# Other files and folders
.classpath
.DS_Store
.project
.settings/
target/
temp/
*.jar
MOEAD.log

# Testing files
src/test/
SASM2/
weight/
data/

experiments-data/on-off/wsdream/processed/rtdata/
experiments-data/on-off/wsdream/processed/tpdata/
